/dts-v1/;
/plugin/;

/ {
    fragment@0 {
        target = <&mipi_dsi0>;
        __overlay__ {
            status = "okay";
            ports {
                port@1 {
                    reg = <1>;
                    mipi_dsi_out: endpoint {
                        remote-endpoint = <&panel_in>;
                    };
                };
            };
            dsi_panel0@0 {
                compatible = "wh-cm480";
                reg = <0>;
                port {
                    panel_in: endpoint {
                        remote-endpoint = <&mipi_dsi_out>;
                    };
                };
            };
        };
    };
    fragment@1 {
        target = <&i2c3>;
        __overlay__ {
            ft5406@38 {
                compatible = "ft5406";
                reg = <0x38>;
            };
            hbx3_bl@45 {
                compatible = "hobot_bl_controller";
                reg = <0x45>;
            };
        };
    };
};
